<div class="col-lg-10 col-md-10 col-sm-9">
    <div>
        <h3>Linked List - Delete At Index</h3>
    </div>
    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>


<div class="col-lg-6 col-md-6 col-sm-9">
    
    <div #rendererContainer></div>

    <!-- Icons from: http://glyphicons.com/ -->
    <div class="controls-row">
    	<div class="control-group">
	    <button type="button" class="btn btn-default">
	      	<span id="restart" class="glyphicon glyphicon-repeat" aria-hidden="true" (click)="onRestart()"></span> 
	    </button>
	  	<button type="button" class="btn btn-default">
	      	<span id="play" class="glyphicon glyphicon-play" aria-hidden="true" (click)="onPlay()"></span> 
	    </button>
	    <button type="button" class="btn btn-default">
	      	<span id="pause" class="glyphicon glyphicon-pause" aria-hidden="true" (click)="onPause()"></span> 
	    </button>
		</div>
    </div>
</div>


<div class="col-lg-6 col-md-6 col-sm-9">

    <ul class="nav nav-tabs">
  		<li class="active"><a data-toggle="tab" href="#home">Pseudocode</a></li>
  		<li><a data-toggle="tab" href="#menu1">Java</a></li>
  		<li><a data-toggle="tab" href="#menu2">Python</a></li>
  		<li><a data-toggle="tab" href="#menu3">C++</a></li>
	</ul> 

	<!-- https://www.w3schools.com/bootstrap/bootstrap_tabs_pills.asp --> 
	
	<div class="tab-content">

      <!-- Pseudocode for Bubble Sort -->
  		<div id="home" class="tab-pane fade in active">
        <h3>Pseudocode</h3>
        <div>
          <div id="pseudo1" class="code">for i to the last index of unsorted elements</div>
          <div id="pseudo2" class="code indent-1">if leftElement > rightElement</div>
          <div id="pseudo3" class="code indent-2">swap(leftElement, rightElement)</div>
        </div>
  		</div>

      <!-- Java code for Linked List Deletion
      Source: Modification from GC05 - Algorithmics -->
  		<div id="menu1" class="tab-pane fade">
        <h3>Java</h3>
        <div>
          <div id="java1" class="code">void delete(int index) &#123;</div><br>
          <div id="java2" class="code indent-1">Node nodePointer = head;</div>
          <div id="java3" class="code indent-1">int i = 1;</div><br>
          <div id="java4" class="code indent-1">while (i &lt; index) &#123;</div>
          <div id="java5" class="code indent-2">nodePointer = nodePointer.next;</div>
          <div id="java6" class="code indent-2">i++;</div>
          <div id="java9" class="code indent-1">&#125;</div>
          <div id="java7" class="code indent-1">nodePointer.next = nodePointer.next.next;</div>
          <div id="java9" class="code indent-1">&#125;</div>
          <div id="java10" class="code">&#125;</div>
        </div>
      </div>

      <!-- Python code for Linked List Deletion 
      Source: Modification from GC05 - Algorithmics-->
  		<div id="menu2" class="tab-pane fade">
        <h3>Python</h3>
        <div>
          <div id="python1" class="code">def delete(index):</div><br>
          <div id="python2" class="code indent-1">nodePointer = self.head</div>
          <div id="python3" class="code indent-1">i - 1</div><br>
          <div id="python4" class="code indent-1">while(i &lt; index):</div>
          <div id="python5" class="code indent-2">nodePointer = nodePointer.next</div>
          <div id="python6" class="code indent-2">i++</div><br>
          <div id="python7" class="code indent-1">nodePointer.next = nodePointer.next.next</div>
        </div>
      </div>

      <!-- C++ code for Linked List Deletion 
      Source: Modification from GC05 - Algorithmics -->
  		<div id="menu3" class="tab-pane fade">
        <h3>C++</h3>
        <div>
          <div id="c1" class="code">void delete(int index)</div>
          <div id="c2" class="code">&#123;</div>
          <div id="c3" class="code indent-1">Node* nodePointer = new Node();</div>
          <div id="c4" class="code indent-1">nodePointer = head;</div>
          <div id="c5" class="code indent-1">int i = 1;</div><br>
          <div id="c6" class="code indent-1">while(i &lt; index) &#123;</div>
          <div id="c7" class="code indent-2">nodePointer = nodePointer->next; </div>
          <div id="c8" class="code indent-2">i++; </div>
          <div id="c9" class="code indent-1">&#125;</div>
          <div id="c10" class="code indent-1">nodePointer->next = nodePointer->next->next;</div>
          <div id="c11" class="code">&#125;</div>
        </div>
      </div>
	</div>

</div>

</div>

	



