<div class="col-lg-10 col-md-10 col-sm-9">
    <div>
        <h3>Queue Front</h3>
    </div>
    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>


<div class="col-lg-6 col-md-6 col-sm-9">
    
    <div #rendererContainer></div>

    <!-- Icons from: http://glyphicons.com/ -->
    <div class="controls-row">
    	<div class="control-group">
	    <button type="button" class="btn btn-default">
	      	<span id="restart" class="glyphicon glyphicon-repeat" aria-hidden="true" (click)="onRestart()"></span> 
	    </button>
	  	<button type="button" class="btn btn-default">
	      	<span id="play" class="glyphicon glyphicon-play" aria-hidden="true" (click)="onPlay()"></span> 
	    </button>
	    <button type="button" class="btn btn-default">
	      	<span id="pause" class="glyphicon glyphicon-pause" aria-hidden="true" (click)="onPause()"></span> 
	    </button>
	    <button type="button" class="btn btn-default">
	      	<span id="stop" class="glyphicon glyphicon-stop" aria-hidden="true" (click)="onStop()"></span> 
	    </button>
	    <label class="control-label" for="speed">Speed:</label>
	    	<div class="controls">
			<input id="speed" #ref type="range" min="100" max="3000" value="1000">
		    </div>
		</div>
    </div>
</div>


<div class="col-lg-6 col-md-6 col-sm-9">

    <ul class="nav nav-tabs">
  		<li class="active"><a data-toggle="tab" href="#home">Pseudocode</a></li>
  		<li><a data-toggle="tab" href="#menu1">Java</a></li>
  		<li><a data-toggle="tab" href="#menu2">Python</a></li>
  		<li><a data-toggle="tab" href="#menu3">C++</a></li>
	</ul> 

	<!-- Code for Queue Front 
  https://www.w3schools.com/bootstrap/bootstrap_tabs_pills.asp --> 
	
	<div class="tab-content">

      <!-- Pseudocode for Queue Front  -->
  		<div id="home" class="tab-pane fade in active">
        <h3>Pseudocode</h3>
        <div>
          <div id="pseudo1" class="code"></div>
          <div id="pseudo2" class="code indent-1"></div>
          <div id="pseudo3" class="code indent-2"></div>
        </div>
  		</div>

      <!-- Java implementation for Queue Front  
      Source: http://www.geeksforgeeks.org/queue-set-1introduction-and-array-implementation/ -->
  		<div id="menu1" class="tab-pane fade">
    		<h3>Java</h3>
    		<div>
          <div id="java1" class="code">int front() &#123;</div>
          <div id="java2" class="code indent-1">if (isEmpty(this))</div>
          <div id="java3" class="code indent-2">return Integer.MIN_VALUE;</div><br>
          <div id="java4" class="code indent-1">return this.array[this.front];</div>
          <div id="java5" class="code">&#125;</div>
        </div>
  		</div>

      <!-- Python implementation for Queue Front 
      Source: http://interactivepython.org/runestone/static/pythonds/BasicDS/ImplementingaQueueinPython.html-->
  		<div id="menu2" class="tab-pane fade">
    		<h3>Python</h3>
    		<div>
          <div id="python1" class="code">def dequeue(self):</div>
          <div id="python2" class="code indent-1">return self.items[0]</div>
        </div>
  		</div>

      <!-- C++ implementation for Queue Front 
      Source: https://gist.github.com/mycodeschool/7331785 -->
  		<div id="menu3" class="tab-pane fade">
    		<h3>C++</h3>
    		<div>
          <div id="c1" class="code">int Front() &#123;</div>
          <div id="c2" class="code indent-1">if(front == -1)</div>
          <div id="c3" class="code indent-1">&#123;</div>
          <div id="c4" class="code indent-2">cout&lt;&lt;"Error: cannot return front from empty queue\n";</div>
          <div id="c5" class="code indent-2">return -1; </div>
          <div id="c6" class="code indent-1">&#125;</div>
          <div id="c7" class="code indent-1">return A[front];</div>
          <div id="c8" class="code">&#125;</div>
        </div>
  		</div>
	</div>

</div>

</div>

	



