
body {
 	position: relative;
 }

.bg-2 {
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 4%;
	padding-right: 4%;
	font-size: 18px;
  	line-height: 1.5;
  	font-family: Georgia, "Times New Roman", Times, serif;
  	color: #555;
}


