<div class="col-lg-10 col-md-10 col-sm-9">
    <div>
        <h3>Linked List - Delete Last</h3>
    </div>
    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>


<div class="col-lg-6 col-md-6 col-sm-9">
    
    <div #rendererContainer></div>

    <!-- Icons from: http://glyphicons.com/ -->
    <div class="controls-row controlanimation">
      <div class="control-group">     
      <label class="control-label" for="speed">Choose speed:</label>
        <button type="button" class="btn btn-default">
          <span id="slow" aria-hidden="true" (click)="onSlow()">Slow</span> 
        </button>
        <button type="button" class="btn btn-default">
          <span id="normal" aria-hidden="true" (click)="onNormal()">Normal</span> 
        </button>
        <button type="button" class="btn btn-default">
          <span id="fast" aria-hidden="true" (click)="onFast()">Fast</span> 
        </button>
        <button type="button" class="btn btn-default">
          <span id="restart" class="glyphicon glyphicon-repeat" aria-hidden="true" (click)="onRestart()"></span> 
        </button>
        <button type="button" class="btn btn-default">
          <span id="play" class="glyphicon glyphicon-play" aria-hidden="true" (click)="onPlay()"></span> 
        </button>
        <button type="button" class="btn btn-default">
          <span id="pause" class="glyphicon glyphicon-pause" aria-hidden="true" (click)="onPause()"></span> 
        </button>
      </div>
    </div>
</div>


<div class="col-lg-6 col-md-6 col-sm-9">

    <ul class="nav nav-tabs">
  		<li class="active"><a data-toggle="tab" href="#home">Pseudocode</a></li>
  		<li><a data-toggle="tab" href="#menu1">Java</a></li>
  		<li><a data-toggle="tab" href="#menu2">Python</a></li>
  		<li><a data-toggle="tab" href="#menu3">C++</a></li>
	</ul> 

	<!-- https://www.w3schools.com/bootstrap/bootstrap_tabs_pills.asp --> 
	
	<div class="tab-content">

      <!-- Pseudocode for Bubble Sort -->
  		<div id="home" class="tab-pane fade in active">
        <h3>Pseudocode</h3>
        <div>
          <div id="pseudo1" class="code">for i to the last index of unsorted elements</div>
          <div id="pseudo2" class="code indent-1">if leftElement > rightElement</div>
          <div id="pseudo3" class="code indent-2">swap(leftElement, rightElement)</div>
        </div>
  		</div>

      <!-- Java code for Linked List Deletion
      Source: GC05 - Algorithmics -->
  		<div id="menu1" class="tab-pane fade">
    		<h3>Java</h3>
    		<div>
          <div id="java1" class="code">void deleteLast() &#123;</div><br>
          <div id="java2" class="code indent-1">if(listHead == null) </div>
          <div id="java3" class="code indent-2">throw Exception("Linked list is empty");</div><br>
          <div id="java4" class="code indent-1">if(listHead.next == null)&#123;</div>
          <div id="java5" class="code indent-2">listHead = null;</div>
          <div id="java6" class="code indent-2">listTail = null;</div>
          <div id="java7" class="code indent-1">&#125; else &#123;</div>
          <div id="java8" class="code indent-2">Node nodePointer = listHead;</div><br>
          <div id="java9" class="code indent-2">while(nodePointer.next != listTail) &#123;</div>
          <div id="java10" class="code indent-3">nodePointer = nodePointer.next;</div>
          <div id="java11" class="code indent-2">&#125;</div>
          <div id="java12" class="code indent-2">listTail = nodePointer;</div>
          <div id="java13" class="code indent-1">&#125;</div>
          <div id="java14" class="code">&#125;</div>
        </div>
  		</div>

      <!-- Python code for Linked List Deletion 
      Source: Modification from GC05 - Algorithmics-->
  		<div id="menu2" class="tab-pane fade">
    		<h3>Python</h3>
    		<div>
          <div id="python1" class="code">def deleteLast():</div><br>
          <div id="python2" class="code indent-1">if self.head is None:</div>
          <div id="python3" class="code indent-2">print("Linked list is empty")</div><br>
          <div id="python4" class="code indent-1">if self.head.next is None:</div>
          <div id="python5" class="code indent-2">self.head = None</div>
          <div id="python6" class="code indent-2">self.tail = None</div>
          <div id="python7" class="code indent-1">else:</div>
          <div id="python8" class="code indent-2">Node nodePointer = self.head</div>
          <div id="python9" class="code indent-2">while nodePointer.next is not self.tail:</div>
          <div id="python10" class="code indent-3">nodePointer = nodePointer.next</div><br>
          <div id="python11" class="code indent-2">self.tail = nodePointer</div>
        </div>
  		</div>

      <!-- C++ code for Linked List Deletion 
      Source: Modification from GC05 - Algorithmics -->
  		<div id="menu3" class="tab-pane fade">
    		<h3>C++</h3>
    		<div>
          <div id="c1" class="code">void deleteLast()</div>
          <div id="c2" class="code">&#123;</div>
          <div id="c3" class="code indent-1">if(listHead == NULL) </div>
          <div id="c4" class="code indent-2">throw ("Linked list is empty");</div><br>
          <div id="c5" class="code indent-1">if(listHead->next == NULL)&#123;</div>
          <div id="c6" class="code indent-2">listHead = NULL;</div>
          <div id="c7" class="code indent-2">listTail = NULL;</div>
          <div id="c8" class="code indent-1">&#125; else &#123;</div>
          <div id="c9" class="code indent-2">struct node *nodePointer;</div>
          <div id="c10" class="code indent-2">nodePointer = listHead;</div>
          <div id="c11" class="code indent-2">while(nodePointer-> != listTail) &#123;</div>
          <div id="c12" class="code indent-3">nodePointer = nodePointer->next;</div>
          <div id="c13" class="code indent-2">&#125;</div>
          <div id="c14" class="code indent-1">listTail = nodePointer;</div>
          <div id="c15" class="code indent-1">&#125;</div>
          <div id="c16" class="code">&#125;</div>
        </div>
  		</div>
	</div>

</div>

</div>

	



