<div class="container-fluid bg-1 text-center vertical-center">
	<div>
		<h1 class="margin title">{{title}}</h1>
	</div>
</div>

<div class="container-fluid bg-4">
      <div class = "row">
        <div class="col-lg-2 col-md-2 col-sm-3">
    		<nav class="navbar">
        		<ul class="nav flex-column">
            		<li *ngFor="let item of menu" class="nav-item" role="presentation" routerLinkActive="active"><a routerLink="{{item.link}}">{{item.title}}</a></li>   
        		</ul>
    		</nav>
		</div>
		<router-outlet></router-outlet>
      </div>
</div>
<app-footer></app-footer>